@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$font-family-base: 'Roboto', sans-serif;

//Colors
$color-bg-body: #bdc3c7;
$color-bg-area: #3498db;
$color-bg-settings: #2c3e50;
$color-bg-button: #e74c3c;
$color-bg-selection-1: #27ae60;
$color-bg-selection-2: #e67e22;
$color-bg-selection-3: #e74c3c;

$color-font-base: #ecf0f1;

$box-shadow-area: 0 0 20px 4px #eee;

//border radius
$border-radius-base: 1rem;
$padding-base: 1rem;

$margin-bottom-base: 1rem;
$margin-base: 1rem;

//Avatar
$bgc-avatar-good: #27ae60;
$bgc-avatar-good--light: #2ecc71;
$bgc-avatar-bad: #c0392b;
$bgc-avatar-bad--light: #e74c3c;